#main{
    height:300;
}
body{
    text-align: center;
}
#Avengers{
    font-family: fantasy;
color:darkblue;
}
#sl{
    height:200px;
}
#dtd{
    height:300px;
}
#gamo{
    height: 200px;
}
#groot{
    height:200px;
}
#rr{
    height:200px;
}
#cap{
    height:200px;
}
#tony{
    height:200px;
}
#spidey{
    height:200px;
}
#hulk{
    height:200px;
}
#war{
    height:200px;
}
#hawk{
    height:200px;
}
#witch{
    height:200px;
}
#thanos{
    height:200px;
}
#vis{
    height:200px;
}
#thor{
    height:200px;
}